<div class="row form-content">
    <div class="col-md-13">
        <h3>Login</h3>
        <hr />

        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="your-email@test.com"/>
                <div *ngIf="loginForm.get('email').touched && !loginForm.get('email').valid">
                    <div class="error" *ngIf="loginForm.get('email').errors.required"> Email is required</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Your Password"/>
                <div *ngIf="loginForm.get('password').touched && !loginForm.get('password').valid">
                    <div class="error" *ngIf="loginForm.get('password').errors.required"> Password is required</div>
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-block" >Login</button>
            </div>
        </form>
    </div>
</div>
